<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/images/logo.svg" type="image/x-icon">
    <title>Pastelero | Pateleria Perla</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

    <header>
        <h1>Pastelero | Pateleria Perla</h1>
    </header>

    <h2 style="text-align:center">Pedidos</h2>

    <table class="tbl">
        <tr>
            <th>ID</th>
            <th>Sabores</th>
            <th>Decoraciones</th>
            <th>Descripcion</th>
            <th>Datos del cliente</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Chocolate y Vainilla</td>
            <td>Clasica</td>
            <td>Me gustaria que los colores fueran blanco con cafe y un poco color rosa, ya que son los colores preferidos de mi hija. Adicional, que tenga escrito "Te quiero"</td>
            <td>Fernanda Gonzalez, 55123456, San Estaban #12 Naucalpan, Estado de México</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Vainilla</td>
            <td>Flor de loto y Espiral de rosas</td>
            <td>Espero se puedan estas dos decoraciones, aunque de ser lo contrario me agradaria que fuera el principal el Espiral de rosas</td>
            <td>Mauricio Alvarez, 55123456, San Estaban #13 Naucalpan, Estado de México</td>
        <tr>
            <td>3</td>
            <td>3 leches(Chocolate, Fresa y Cajeta)</td>
            <td>Estrella de 16</td>
            <td>Ninguna</td>
            <td>Barry Alen, 55123456, New Yershey #01 US</td>
        </tr>
    </table>

    <br>

    <h2 style="text-align:center">Almacen disponible de Sabores</h2>

    <table class="tbl">
        <tr>
            <th>Chocolate</th>
            <th>3 leches</th>
            <th>Vainilla</th>
            <th>Limon</th>
            <th>Fresa</th>
            <th>Cajeta</th>
        </tr>
        <tr>
            <td>200</td>
            <td>78</td>
            <td>12</td>
            <td>190</td>
            <td>29</td>
            <td>272</td>
        </tr>
    </table>

    <br>

    <h2 style="text-align:center">Almacen disponible de Decoraciones</h2>

    <table class="tbl">
        <tr>
            <th>Clasica</th>
            <th>Flor de loto</th>
            <th>Estrella de 16</th>
            <th>Espiral de rosas</th>
        </tr>
        <tr>
            <td>Ilimitado</td>
            <td>12</td>
            <td>54</td>
            <td>62</td>
        </tr>
    </table>

    <br>

    <footer class="text-center footer-style">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <h3>Dirección</h3>
                    <p>
                        Cuatemoh - Versalles 210
                    </p>
                </div>
                <div class="col-md-4 footer-col">
                    <h3>Sigueme en Facebook</h3>
                    <ul class="list-inline">
                        <li>
                            <a target="_blank" href="#" class="btn-social btn-outline">Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>