@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
}

h1 span{
  color: #3454D2;
}

.wrapper, .portfolio, .footer {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(30px);
  box-shadow: 1px 3px 11px -5px rgba(0, 0, 0, 0.7);
}

.brand {
  margin-top: -7px;
}

.brand span{
  color: #3454D2;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #6D7B93;
  text-decoration: none;
  padding: 10px 5px;
}

.menu .active {
  background-color: #3858D6;
  border-radius: 10px;
  color: #fff;
  box-shadow: 1px 3px 11px -5px rgba(0, 0, 0, 0.7);
}

.menu a:hover {
  background-color: #3858D6;
  border-radius: 10px;
  color: #fff;
  box-shadow: 1px 3px 11px -5px rgba(0, 0, 0, 0.7);
}

.main, .why-vaccine, .contact {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.why-vaccine {
  height: 30vh;
}

.info-content {
  padding-right: 6em;
}

.info-content h1, h2{
  margin-right: 30px;
  color: #1F3E72;
}

.info-content p {
  margin-top: 5px;
  color: #818DA2;
}

.content-buttons i, 
.divider-info-vaccinations i {
  padding: .4em;
  font-size: 12px;
  border-radius: 5px;
  background-color: #FFFAEB;
  color: #FFD012;
  box-shadow: 1px 3px 11px -5px #FFD012;
}

.button-info {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  font-weight: bold;
}

.download-cv {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #00ffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(0, 255, 255, 0.7);
}

.content-buttons a {
  text-decoration: none;
}

.main img {
  width: 450px;
  height: 520px;
  margin-top: 100px;
}

.container-img {
  background: linear-gradient(to bottom right, #0899E6, #3454D2);
  height: -100px;
  display: flex;
  justify-content: center;
}

.contact-img {
  height: -100px;
  display: flex;
  justify-content: center;
}

.divider-info-vaccinations {
  position: relative;
  display: flex;
  top: -90px;
  left: 5.5em;
  width: 60%;
  height: 20px;
}

.divider-info-vaccinations h4 {
  color: #1F3E72;
}

.divider-info-vaccinations i {
  background-color: #F0F4FF;
  color: #2B4BC9;
  box-shadow: 1px 3px 11px -5px #2B4BC9;
}

.date-vaccination {
  position: relative;
  display: flex;
  top: -70px;
  left: 5.5em;
  width: 60%;
  height: 80px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(30px);
  box-shadow: 1px 3px 11px -5px rgba(0, 0, 0, 0.7);
}

.date-info {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}

.date-info h4 {
  color: #6D7B93;
}

.date-info i {
  padding: .4em;
  font-size: 12px;
  border-radius: 5px;
  background-color: #F0F4FF;
  color: #2B4BC9;
}

.date-info p {
  margin: 0 2em;
  font-weight: bold;
  color: #1F3E72;
}

.date-info .date-button {
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: #3858D6;
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 1px 3px 11px -5px rgba(0, 0, 0, 0.7);
}

.date-info a {
  color: #6D7B93;
  text-decoration: none;
  padding: 10px 5px;
  cursor: pointer;
}

.labs img {
  display: flex;
  padding-bottom: 40px;
  margin: 0 auto;
}

.content-why-vaccine {
  margin: 0 auto;
  margin-bottom: 20vh;
  width: 90vw;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.content-why-vaccine i {
  padding: .5em;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #F0F4FF;
  color: #2B4BC9;
  box-shadow: 1px 3px 11px -5px #2B4BC9;
}

.content-info-vaccine {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: solid 1px #f9f9ff;
}

.content-info-vaccine:hover {
  box-shadow: 1px 5px 100px -40px #2b4bc95b;
  background: radial-gradient(rgba(66, 83, 150, 0.118), rgb(255, 255, 255), rgb(253, 253, 253));
  backdrop-filter: blur(30px);
  cursor: pointer;
}

.content-info-vaccine h3, p {
  margin: 10px;
  font-size: 16px;
}

.content-info-vaccine p {
  color: #929292;
 }

.preparations {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.preparations img {
  width: 100%;
  grid-column: 1/5;
}

.preparations-info {
  grid-column: 5/10;
  padding: 3em;
}

.preparations-info h2 {
  font-size: 2em;
  color: #191c32;
}

.preparations p {
  margin-bottom: 1em;
}

.contact-content h1 {
  color: #1F3E72;
  font-size: 30px;
  padding: 10px;
}

.contact-content-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.info-contact {
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  border: solid 1px #f9f9ff;
}

.info-contact i {
  padding: .5em;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #F0F4FF;
  color: #2B4BC9;
}

.info-contact:hover {
  box-shadow: 1px 5px 50px -20px #2b4bc95b;
  background: radial-gradient(rgba(66, 83, 150, 0.118), rgb(255, 255, 255), rgb(253, 253, 253));
  backdrop-filter: blur(30px);
}

.contact-content-buttons a {
  color: #6D7B93;
  text-decoration: none;
  padding: 10px 5px;
  cursor:default;
}

.info-contact a > h3 {
  color: #000;
}

.info-contact a > h3 > span {
  font-size: 14px;
  color: rgb(194, 194, 194);
}

.button-contact {
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: #F0F4FF;
  border: none;
  border-radius: 5px;
  color: #3858D6;
  font-weight: bold;
  margin-left: 40px;
  width: 50%;
  height: 40px;
  cursor: pointer;
}

.button-contact:hover {
  background-color: #3858D6;
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 1px 3px 11px -5px rgba(0, 0, 0, 0.7);
}

.footer {
  width: 100vw;
  height: 100vh;
  background-color: #EEF3FF;
  color: rgb(0, 0, 0);
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
}

.footer h2 {
  padding: 20px;
}